// Colors.
$color-white: #efefef;
$color-white-two: #ffffff;
$color-black: #373737;
$color-dark-sepia: #704a22;
$color-sepia: #8b5b29;
$color-brown: #3c312c;
$color-brown-dark: #453934;
$color-light-brown: #dbc5aa;
$color-very-light-brown: #dbc5aa;
$color-medium-grey: #636362;
$color-grey: #f3eeea;
$color-light-grey: #f8f2ec;
$color-light-grey-v2: #fbfbfa;
$color-rouge: #a7272a;
$color-rouge-v1: #cd3033;
$color-rouge-v2: #da4947;
$color-rouge-dark: #570a0b;
$color-camo-green: #342720;
$color-pine: #284734;
$color-dark-green: #283b03;
$color-sap-green: #658d1b;
$color-act-green: #86bb25;
$color-form-green: #72a219;
$color-sap-light-green: #689146;

.color-sap-green{
  background-color: $color-sap-green;
}
.color-sepia{
  background-color: $color-sepia;
}
.color-rouge{
  background-color: $color-rouge;
}

//$color-text: #444445;
//$color-line: #e5e5e5;
//$color-bg-form:#fafafa;
//$color-border-form:#e6e6e6;
//$color-border-bottom:#c0c0c0;
//$color-border-top:#a6a6a6;
//$color-bg-grey: #f7f7f7;
//$color-border-grey: #eeeeee;
//$color-border-blue: #00c3f5;
//$color-placeholder: #737373;
//$color-but-grey: #404040;
//$color-blue-light: #17baf1;
//$color-blue: #00bbf3;
//$color-grey-dark: #231f20;
//$color-green: #42b200;

//$color-border-grey: #eeeeee;
//$color-border-form: #707579;
//$color-bg-form: #1c2025;
//$color-btn-green: #71b100;
//$color-select-carat: #71b100;
//
//$color-red: #ff3c00;
//$color-grey-link-menu: #7f7f7f;
//
//
//$color-bg-grey: #f7f7f7;
//$color-bg-grey-dark: #12181c;
//
//$color-bg-blue: #d0e0ed;
//$color-bg-grey-active: #e1e1e1;
//$color-bg-grey-titlemenu: #bfbfbf;
//$color-bg-grey-cookie: #434344;
//$color-bg-messages: #d8ffd7;
//
//
//$color-border-grey-checkbox: #777777;



