
.social{
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.social-facebook {
  font-size:(23/10)*1rem;
  //width:(11/23)*1em;
  width:11px;
  height: 23px;
}
.social-google {
  font-size:(23/10)*1rem;
  //width:(34/23)*1em;
  width:35px;
  height:  23px;
}
.social-inlink {
  font-size:(22/10)*1rem;
  //width:(24/22)*1em;
  width:24px;
  height: 22px;
}
.social-pinterest {
  font-size:(24/10)*1rem;
  //width:(19/24)*1em;
  width:19px;
  height: 24px;
}
.social-twitter {
  font-size:(20/10)*1rem;
  //width:(27/20)*1em;
  width:27px;
  height: 20px;
}
.social-youtube {
  font-size:(24/10)*1rem;
  //width:(20/24)*1em;
  width:20px;
  height: 24px;
}
.social{
  color: #636262;
  &:hover {
    color: #a7272a;
  }
}