.block-form-contact{
  .row-block{
    padding-top: 65px;
    padding-bottom: 50px;
    @include small-phone{
      margin: 0;
      padding: 30px 0 20px;
    }
    .content-block{
      &:first-of-type{
        width: 46%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include tablet{
          width: 100%;
          @include padding-tablet;
        }
        @include small-phone{
          width: 100%;
          float: none;
          @include padding-mobile;
        }
      }
      &:last-of-type{
        width: 54%;
        display: inline-block;
        vertical-align: top;
        @include tablet{
          width: 100%;
          @include padding-tablet;
        }
        @include small-phone{
          width: 100%;
          float: none;
          @include padding-mobile;
        }
      }
    }
    .item-block{
      text-align: left;
      position: relative;
    }
    .title{
      font-size: 2.4*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      color: $color-black;
    }
    .block-contact{
      .title{
        padding-bottom: 20px;
      }
      .title-nord{
        font-size: 2.4*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        color: $color-black;
        padding-top: 20px;
        padding-bottom: 20px;

      }
      .label{
        width: 120px;
        color: $color-sap-green;
        display: inline-block;
        font-size: 1.6*$font-size;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        @include small-phone{
          font-size: 1.4*$font-size;
          width: 80px;
        }
      }
      .mail {
        margin: 0 0 30px;
        padding: 8px 0;
        .icon-mail {
          vertical-align: middle;
          background-repeat: no-repeat;
          width: 35px;
          height: 34px;
          display: inline-block;
          margin-right: 17px;
          background-image: url("../images/email-green.svg");
          background-position: center center;
        }
      }
      .text{
        font-size: 1.6*$font-size;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-black;
        @include small-phone{
          font-size: 1.4*$font-size;
        }
      }
      .mail,.phone{
        a{
          color: $color-black;
        }
      }
      .phone{
        padding-bottom: 20px;
        a{
          color: $color-black;
          text-decoration: none;
        }
      }
    }
    .title-form{
      padding-top: 20px;
      font-size: 2.4*$font-size;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      color: $color-sap-green;
    }
    .nord-form{
      padding-top: 20px;
      .form-item-pair{
        margin:  0;
      }
      input{
        font-size: 1.6*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-black;
        border: 0 none;
        padding: 8px 15px;
      }
      .form-item{
        width: 90%;
        margin: 0 0 5px;
        padding: 0 0 15px;
        @include tablet{
          width: 100%;
        }
        &.form-item-block{
          margin: 0;
          padding: 0 20px 0;
          @include small-phone{
            padding: 0;
          }
          .w-sel{
            margin: 0 0 5px;
            padding: 0 0 11px;
            position: relative;
          }
        }
        textarea{
          height: 166px;
          border: 0 none;
        }
      }
      .w-sel{
        .dropdown{
          .carat{
            border-color: $color-sepia;
          }
        }
      }
      .btn{
        width: 274px;
        height: 52px;
        font-size: 1.6*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: $color-white-two;
        font-family: $font-light;
      }
    }
    //.nord-form{
    //  padding-top: 20px;
    //  .form-item-pair{
    //    //margin: 0;
    //    .form-item{
    //      margin: 0 0 5px;
    //      padding: 0 20px 15px;
    //    }
    //  }
    //  input{
    //    font-size: 1.6*$font-size;
    //    font-weight: 300;
    //    font-style: normal;
    //    font-stretch: normal;
    //    line-height: 1.63;
    //    color: $color-black;
    //    border: 0 none;
    //    padding: 8px 15px;
    //    height: 44px;
    //  }
    //  .form-item{
    //    width: 90%;
    //    @include tablet{
    //      width: 100%;
    //      @include padding-tablet;
    //    }
    //    @include small-phone{
    //      width: 100%;
    //      @include padding-mobile;
    //    }
    //    &.form-item-block{
    //      margin: 0;
    //      padding: 0 20px 0;
    //      .w-sel{
    //        margin: 0 0 5px;
    //        padding: 0 0 15px;
    //        position: relative;
    //      }
    //    }
    //    textarea{
    //      height: 166px;
    //      border: 0 none;
    //    }
    //
    //  }
    //  .form-actions{
    //    //padding: 0 20px;
    //  }
    //  .w-sel{
    //    .dropdown{
    //      .selected{
    //        height: 44px;
    //      }
    //      .carat{
    //        border-color: $color-sepia;
    //      }
    //    }
    //  }
    //  .btn{
    //    width: 274px;
    //    height: 52px;
    //    font-size: 1.6*$font-size;
    //    font-weight: 300;
    //    font-style: normal;
    //    font-stretch: normal;
    //    text-align: center;
    //    color: $color-white-two;
    //    font-family: $font-light;
    //    @include small-phone{
    //      width: 100%;
    //    }
    //  }
    //
    //}
    .img-block{
      position: relative;
      @include small-phone {
        overflow-x: hidden;
      }
      .text-block{
        position: absolute;
        top: 50px;
        left: 50px;
        @include small-phone{
           left: 0;
          text-align: center;
          top: 30%;
          width: 100%;
        }
        .title{
          font-size: 4.2*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.62;
          color: $color-white-two;
        }
        .btn{
          margin-top: 20px;
          width: 255px;
          height: 52px;

        }
      }
      .img{
        img{
          @include small-phone {
            min-height: 234px;
            min-width: 630px;
          }
        }
      }
    }
    .map-block{
      //padding-top: 65px;
      padding-top: 65px;
      position: relative;
      height: 676px;
      width: 630px;
      #map{
        height: 100%;
      }
      .hover-block{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .anchor{
        position: absolute;
        display: inline-block;
        width: 280px;
        &.one{
          left: 370px;
          top: 122px;
          @include small-phone{
            left: 0;
          }
        }
        &.two{
          left: 258px;
          top: 182px;
          @include small-phone{
            left: 0;
          }
        }
        &.three{
          left: 346px;
          top: 330px;
          @include small-phone{
            left: 0;
          }
        }
        &[data-position-x]{

        }
        &[data-position-y]{

        }

        .icon-paper{
          display: inline-block;
          background-image: url("../images/paper.svg");
          background-color: transparent;
          background-repeat: no-repeat;
          width: 28px;
          height: 60px;
          vertical-align: top;
          margin-right: 5px;
        }
        //.text-block{
        //  width: 240px;
        //  padding: 20px;
        //  display: none;
        //  background-color: $color-white-two;
        //  vertical-align: top;
        //  position: relative;
        //  border-radius: 3px;
        //  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        //  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        //  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        //  &:after {
        //    z-index: 1000;
        //    content: '';
        //    position: absolute; /* Абсолютное позиционирование */
        //    left: -15px;
        //    bottom: 40%; /* Положение треугольника */
        //    border: 10px solid transparent;
        //    border-right: 10px solid $color-white-two;
        //    //-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        //    //-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        //    //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        //  }
        //
        //  .title{
        //    font-size: 1.6*$font-size;
        //    font-family: $font-family;
        //    font-weight: 500;
        //    font-style: normal;
        //    font-stretch: normal;
        //    line-height: 1.63;
        //    letter-spacing: -0.6px;
        //    color: $color-pine;
        //  }
        //  .adress{
        //    font-size: 1.4*$font-size;
        //    font-weight: normal;
        //    font-style: normal;
        //    font-stretch: normal;
        //    line-height: 1.86;
        //    letter-spacing: -0.5px;
        //    color: $color-medium-grey;
        //  }
        //  .phone{
        //    font-size: 1.4*$font-size;
        //    font-weight: normal;
        //    font-style: normal;
        //    font-stretch: normal;
        //    line-height: 1.86;
        //    letter-spacing: -0.5px;
        //    a{
        //      color: $color-medium-grey;
        //      text-decoration: none;
        //    }
        //
        //  }
        //  .mail{
        //    font-size: 1.4*$font-size;
        //    font-weight: normal;
        //    font-style: normal;
        //    font-stretch: normal;
        //    line-height: 1.86;
        //    letter-spacing: -0.5px;
        //    a{
        //      color: $color-sap-green;
        //      text-decoration: none;
        //    }
        //
        //  }
        //  .web-link{
        //    font-size: 1.4*$font-size;
        //    font-weight: normal;
        //    font-style: normal;
        //    font-stretch: normal;
        //    line-height: 1.86;
        //    letter-spacing: -0.5px;
        //    a{
        //      color: $color-sap-green;
        //      text-decoration: none;
        //    }
        //  }
        //}
        &:hover{
          cursor: pointer;
          .text-block{
            display: inline-block;
            top: -40px;
          }
        }
      }
       h1{
        &.title-company{
          font-size: 1.6*$font-size;
          font-family: $font-family;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          letter-spacing: -0.6px;
          color: $color-pine;
        }
      }
      .text-block{
        width: 240px;
        //padding: 20px;
        //display: none;
        background-color: $color-white-two;
        vertical-align: top;
        position: relative;
        //border-radius: 3px;
        //-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        //-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        //&:after {
        //  z-index: 1000;
        //  content: '';
        //  position: absolute; /* Абсолютное позиционирование */
        //  left: -15px;
        //  bottom: 40%; /* Положение треугольника */
        //  border: 10px solid transparent;
        //  border-right: 10px solid $color-white-two;
        //  //-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        //  //-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        //  //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        //}


        .adress{
          font-size: 1.4*$font-size;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.86;
          letter-spacing: -0.5px;
          color: $color-medium-grey;
        }
        .phone{
          font-size: 1.4*$font-size;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.86;
          letter-spacing: -0.5px;
          a{
            color: $color-medium-grey;
            text-decoration: none;
          }

        }
        .mail{
          font-size: 1.4*$font-size;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.86;
          letter-spacing: -0.5px;
          a{
            color: $color-sap-green;
            text-decoration: none;
          }

        }
        .web-link{
          font-size: 1.4*$font-size;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.86;
          letter-spacing: -0.5px;
          a{
            color: $color-sap-green;
            text-decoration: none;
          }
        }
      }
    }
  }
}