footer{
  position: relative;
  background-color: $color-grey;
  border-top: 0 none;
  //overflow-x: hidden;
  &:before{
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    //height: 11px;
    display: block;
    position: relative;
    //position: absolute;
    content: '';
    //top: -1px;
    height: 14px;
    top: -2px;
    transform: rotate(180deg);
  }
  .row-block{
    @include clearfix;
    padding: 50px 0;
    @include small-phone{
      padding: 20px 0;
    }
  }
  &.block-footer{
  }
  @include clearfix;
  .logo-block{
    width: 20%;
    float: left;
    a{}
    @include tablet{
      display: none;
    }
    @include small-phone{
      display: none;
    }
  }
  .content-block{
    float: left;
    width: 80%;
    @include tablet{
      float: none;
      width: 100%;
      padding: 0 20px;
    }
    @include small-phone{
      float: none;
      width: 100%;
      padding: 0 20px;
    }
  }
  .footer-nav{
    @include clearfix;
    @include tablet{
      text-align: center;
    }
    .box{
      display: inline-block;
      padding-left: 40px;
      vertical-align: top;
      text-align: left;
      &:first-of-type{
        padding-left: 0;
      }
      @include tablet{
        width: 24%;
        padding-left: 30px;
      }
      @include small-phone{
        padding-left: 0;
        width: 100%;
      }
      &.footer-products{
        padding-bottom: 18px;
      }
      &.footer-product{
        padding-bottom: 18px;
      }
      &.footer-contact{
        @include small-phone{
          ul{
            display: none;
          }
        }
      }
      &.footer-information{
        @include small-phone{
          ul{
            display: none;
          }
        }
      }
    }
    .title-menu{
      color: $color-sap-green;
      text-transform: uppercase;
      padding-bottom: 20px;
      font-family: $font-medium;
      @include small-phone{
        padding-bottom: 7px;
      }
      a{
        text-transform: uppercase;
        font-size: 1.6*$font-size;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-sap-green;
        text-decoration: none;
        @include small-phone{
          font-size: 1.6*$font-size;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          color: $color-sap-green;
        }
      }
    }
    ul{
      li{
        a{
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          color: $color-black;
          text-decoration: none;
          font-family: $font-light;
          @include transition(color  .5s);
          &:hover{
            color: $color-sap-green;
          }
        }
      }
    }
  }
  .footer-bottom{
    @include clearfix;
    padding-top: 20px;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    @include small-phone{
      padding-top: 0;
    }
  }
  .footer-social{
    //float: left;
    width: 49%;
    display: inline-block;
    @include small-phone{
      //float: none;
      width: 100%;
    }
    .title-block{
      font-weight: 500;
      font-size: 1.6*$font-size;
      //line-height: 1.63;
      color: $color-sap-green;
      text-decoration: none;
      font-family: $font-medium;
      text-transform: uppercase;
      line-height: 0.8;
      @include small-phone{
        display: none;
      }
    }
    ul{
      margin: 0 -10px;
      @include small-phone{
        margin: 0;
        text-align: center;
      }
      li{
        display: inline-block;
        padding: 10px 10px 0;
        margin-top: 18px;
        @include small-phone{
          margin-top: 5px;
        }
        a{
          display: inline-block;
          //margin: 10px;
          vertical-align: middle;
          &:hover{
            #social-f-b,#social-g,#social-y-t-b-e,#social-i-n,#social-pinterest,#social-t-w{
              fill: $color-rouge;
            }
          }
        }
      }
    }
  }
  .footer-mail{
    display: inline-block;
    //height: 80px;
    margin-bottom: 5px;
    //padding-top: 10px;
    vertical-align: bottom;
    width: 50%;
    @include small-phone{
      width: 100%;
      margin-top: 17px;
    }
    .form-item{
      width: 418px;
      height: 52px;
      border-radius: 100px;
      background-color: $color-white-two;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.31);
      position: relative;
      @include tablet{
        width: 100%;
      }
      @include small-phone{
         width: 100%;
      }
      input{
        font-family: $font-light;
        font-size: 1.6*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-black;
        border: 0 none;
        display: inline-block;
        width: 85%;
        margin: 12px 5px 10px 12px;
        &::-webkit-input-placeholder {color:$color-black;}
        &::-moz-placeholder          {color:$color-black;}/* Firefox 19+ */
        &:-moz-placeholder           {color:$color-black;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:$color-black;}
        &:focus{
          &::-webkit-input-placeholder {color: transparent;}
          &::-moz-placeholder          {color: transparent;}/* Firefox 19+ */
          &:-moz-placeholder           {color: transparent;}/* Firefox 18- */
          &:-ms-input-placeholder      {color: transparent;}
        }

      }
      .btn{
        width: 43px;
        height: 43px;
        background-color: $color-sap-green;
        border-radius: 100%;
        border: 0 none;
        font-size: 0;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 0;
        .icon-mail{
          //vertical-align: middle;
          background-image: url("../images/mail.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 43px;
          height: 43px;
          display: inline-block;
          //text-align: center;

          left: 0;
          position: absolute;
            top: 0;

        }
      }
    }
  }
}
