.block-lab-distributor{
  .left-sidebar{
    display: inline-block;
    float: left;
    width: 446px;
    z-index: 200;
    position: relative;
    padding-top: 52px;
    text-align: center;
    @include small-phone{
      margin-top: 0;
      float: none;
      width: 100%;
      padding: 0 20px;
    }
    .btn{
      margin-top: 20px;
      text-align: left;
      position: relative;
      padding: 10px 20px;
      background-color: $color-rouge-v1;
      .title-link{
        text-align: left;
        display: inline-block;
      }
      .icon-email{
        vertical-align: middle;
        background-image: url("../images/email.svg");
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        display: inline-block;
        margin-right: 5px;
        position: absolute;
        right: 5px;
      }
    }
  }
  .block-product{
    padding-top: 52px;
    display: inline-block;
    width: 722px;
    @include small-phone{
      margin-top: 0;
      float: none;
      width: 100%;
    }
    .block-product-single{
      @include small-phone{
        padding: 0 20px;
      }
      h2{
        font-size: 5*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.04;
        letter-spacing: -0.5px;
        color: $color-black;
      }
      .title-block{
        padding-top: 20px;
        font-size: 2*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        color: $color-black;
        .icon-agro{
          margin-right: 10px;
          vertical-align: middle;
          background-image: url("../images/tractor-1.svg");
          background-attachment: scroll;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 30px;
          height: 25px;
          display: inline-block;
        }
      }
      .country{
        padding-top: 20px;
        .icon-country{
          vertical-align: middle;
          background-image: url("../images/geolocalization-brown.svg");
          background-attachment: scroll;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 30px;
          height: 25px;
          display: inline-block;
          margin-right: 5px;
        }
        .countries{
          font-size: 2*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.3;
          color: $color-black;
        }
      }
      .desc{
        padding-top: 20px;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-black;
        width: 80%;
        padding-bottom:  20px;
        position: relative;
        &:after{
          vertical-align: middle;
          //background-image: url("../images/geolocalization-brown.svg");
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-white-two);
          background-attachment: scroll;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          height: 88px;
          width: 100%;
        }
        @include small-phone{
          width: 100%;
        }
      }
      .link{
        font-size: 1.6*$font-size;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        text-transform: uppercase;
        color: $color-sepia;
      }
    }
    .block-products-catalog{
      padding-top: 50px;
      @include small-phone{
        padding: 20px 20px 0;
      }
      .title-block{
        .title{
          font-size: 3*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.07;
          color: $color-sap-light-green
        }
      }
      .row-block{
        @include  clearfix;
        margin: 0 -15px;
        //padding-top: 50px;
        padding-bottom: 20px;
        .content-block{
          width: 33%;
          float: left;
          display: inline-block;
          vertical-align: top;
          @include small-phone{
            margin-top: 0;
            float: none;
            width: 100%;
            padding: 0 20px;
          }
          .item-block{
            text-align: center;
            position: relative;
            padding: 20px;
            .img{
              width: 160px;
              position: relative;
              text-align: center;
              display: inline-block;
              img{
                vertical-align: bottom;
              }
              .icon-category{
                position: absolute;
                bottom: 0;
                right: 0;
                vertical-align: middle;
                background-image: url("../images/icon-agro-prob.svg");
                background-attachment: scroll;
                background-size: contain;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
                display: inline-block;
              }
            }
            .text-block{
              //padding: 0 40px;
            }
            .title{
              padding-top: 10px;
              font-size: 2*$font-size;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.3;
              text-align: center;
              color: $color-black;
            }
            .desc{
              padding-top: 10px;
              display: inline-block;
              .icon-bag{
                vertical-align: middle;
                background-image: url("../images/t-a-r-a.svg");
                background-repeat: no-repeat;
                width: 14px;
                height: 20px;
                display: inline-block;
                margin-right: 5px;
              }
              .count-size{
                font-size: 1.5*$font-size;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.73;
                color: $color-sepia;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .block-product-advantages{
      @include small-phone{
        padding: 0 20px;
      }
      .title-block{
        .title{
          font-size: 3*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.07;
          color: $color-sap-light-green
        }
      }
      .row-block {
        padding-top: 20px;
        margin: 0 -10px;
        padding-bottom: 50px;
        @include small-phone{
          margin: 0;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .content-block {
          width: 50%;
          display: inline-block;
          padding: 0 10px 25px;
          float: left;
          @include small-phone{
            width: 100%;
          }
        }
        .item-block {
          background-color: $color-light-grey;
          text-align: left;
          position: relative;
          padding: 24px 5px 24px 20px;
          border-radius: 5px;
          .icon-category{
            vertical-align: middle;
            background-repeat: no-repeat;
            //width: 45px;
            //height: 45px;
            display: inline-block;
            margin-right: 15px;
            //background-image: url("../images/fill-8.svg");
            //background-position: center center;
            //background-size: contain;
          }
          .desc{
            display: inline-block;
            font-size: 2*$font-size;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.3;
            color: $color-sepia;
            width: 78%;
            vertical-align: middle;
            @include small-phone{
              width: 70%;
            }
          }
        }
      }
    }
    .block-product-news{
      @include small-phone{
        padding: 0 20px 0;
      }
      .title-block{
        .title{
          font-size: 3*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.07;
          color: $color-sap-light-green
        }
      }
      .row-block {
        @include clearfix;
        padding-top: 20px;
        margin: 0 -15px;
        padding-bottom: 35px;
        .content-block {
          width: 50%;
          float: left;
          display: inline-block;
          padding: 0 15px 50px;
          @include small-phone{
            width: 100%;
          }
        }
        .item-block {
          text-align: left;
          position: relative;

          .text-block{
            padding-top: 20px;
            .title{
              font-size: 2.2*$font-size;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.18;
              color: $color-black;
            }
          }

        }
      }
    }
  }
}
