.block-lab-article{
  .row-block{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 728px;
    @include small-phone{
      width: 100%;
      padding: 20px 20px 20px;
    }
    .title-block{
      h1{
        font-family: $font-light;
        font-size: 5*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.04;
        letter-spacing: -0.5px;
        color: $color-black;
        @include small-phone{
          line-height: 1.17;
        }
      }
    }
    .content-block{
      display: inline-block;
      vertical-align: top;

      .item-block{
        text-align: left;
        position: relative;

        .autor{
          padding-top: 20px;
          padding-bottom: 20px;
          position: relative;
          @include clearfix;
          .img-autor{
            display: inline-block;
            float: left;
            margin-right: 10px;
          }
          .name-autor{
            color: $color-sepia;
            font-size: 1.6*$font-size;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
          }
          .date{
            font-size: 1.4*$font-size;
            font-weight: 300;
            line-height: 1.86;
            color: $color-black;
          }
          .social-block{
            position: absolute;
            right: 0;
            top: 30%;
            @include small-phone{
              position: relative;
            }
            .facebook{
              background-image: url("../images/facebook-like.jpg");
              background-repeat: no-repeat;
              width: 120px;
              height: 30px;
              display: inline-block;
              vertical-align: middle;
              font-size: 0;
            }
            .like{
              text-transform: uppercase;
              color: $color-sap-green;
              display: inline-block;
              vertical-align: middle;
            }
            .icon-heart{
              margin-left: 5px;
              vertical-align: middle;
              background-image: url("../images/add-to-bookmarks.png");
              background-image: url("../images/add-to-bookmarks.svg");
              background-repeat: no-repeat;
              width: 30px;
              height: 26px;
              display: inline-block;
            }
          }
        }
        .img{
          width: 100%;
          z-index: 50;
          position: relative;
          padding-bottom: 20px;
        }
        .text-block{
          width: 100%;
          z-index: 100;
          position: relative;
          .title{
            color: $color-black;
            font-size: 2.2*$font-size;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            text-align: left;
            padding-bottom: 25px;
            padding-top: 25px;
            width: 80%;
          }
          .description{
            font-size: 1.8*$font-size;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            color: $color-black;
            padding-bottom: 20px;
          }
          .desc{
            font-size: 1.6*$font-size;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            color: $color-black;
            padding-bottom: 25px;
          }
        }
      }
    }
    .add-list{
      .btn{
        margin-top: 30px;
        font-size: 1.6*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        color: $color-white-two;
        width: 332px;
      }
    }
  }
}
.block-lab-articles {
  background-color: $color-grey;
  .title-block{
    padding-top: 47px;
    .title{
      font-size: 3*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      color: $color-sap-light-green;
    }
  }
  .row-block {
    @include clearfix;
    margin: 0 -20px;
    padding-top: 28px;
    padding-bottom: 60px;
    @include small-phone{
      margin: 0;
      padding: 20px 0 20px;
    }
    .list-block {
      .content-block {
        margin: 0 0 10px;
        padding: 0 20px;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        float: left;
        @include small-phone{
          width: 100%;
          margin: 0 0 20px;
        }
        .item-block {
          text-align: center;
          position: relative;
          .title-block {
            h1 {
              font-size: 50px;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.04;
              letter-spacing: -0.5px;
              color: $color-black;
            }
          }
          .autor {
            display: inline-block;
            width: 100%;
            height: 42px;
            .img-autor {
              display: inline-block;
              float: left;
              margin-left: 10px;
              width: 98px;
              margin-top: -60px;
              max-height: 98px;
              @include small-phone{
                margin-top: 0;
              }
            }
            .name-autor {
              float: left;
              width: 70%;
              color: $color-sepia;
              font-size: 1.6*$font-size;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.63;
              vertical-align: bottom;
              display: inline-block;
              text-align: left;
            }
            .date {
              font-size: 1.4*$font-size;
              font-weight: 300;
              line-height: 1.86;
              color: $color-black;
              margin-left: 20px;
            }
            .social-block {
              .facebook {
              }
              .like {
              }
            }
          }
          .img {
            width: 100%;
            z-index: 50;
            position: relative;
          }
          .text-block {
            width: 100%;
            z-index: 100;
            position: relative;
            .title {
              color: $color-black;
              font-size: 2.2*$font-size;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.18;
              text-align: left;
            }
          }
        }
      }
      .add-list {
        .btn {
          margin-top: 30px;
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          text-align: center;
          color: $color-white-two;
          width: 332px;
        }
      }
    }
  }
}