body{
  background:rgba(0, 0, 0, 0) url("../images/pattern.svg") no-repeat scroll  center 250px;
  &.karjiera-d{
    background: none;
  }
}
.block-head-main-bg{
  background: rgba(0, 0, 0, 0) url("../images/main-bg.png") no-repeat scroll top center;
  display: block;
  position: absolute;
  top: 0;
  height: 390px;
  width: 100%;
  z-index: -10;
  &:before {
    background-image: url('../images/gradient-head.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 300px;
    display: block;
    position: absolute;
    content: '';
    top: 0;
  }
  &:after {
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 11px;
    display: block;
    position: absolute;
    content: '';
    bottom: -4px;
  }
  @include small-phone{
      display: none;
  }
}
.block-category{
  @include small-phone{
    position: relative;
    background-color: $color-grey;
    &:after {
      background-image: url('../images/line.svg');
      background-attachment: scroll;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 11px;
      display: block;
      position: absolute;
      content: '';
      bottom: -4px;
    }
  }
  .row-block{
    @include clearfix;
    margin: 0 -15px;
    padding-top: 125px;
    @include tablet{
      margin: 0;
      @include  padding-height;
    }

    @include small-phone{
      margin: 0;
      padding-top: 10px;
      //padding-bottom: 45px;
    }
    .content-block{
      //margin: 0 0 10px;
      padding: 0 13px 10px;
      width: 33%;
      display: inline-block;
      vertical-align: top;

      @include tablet{
        width: 50%;
        text-align: center;
      }
      @include small-phone{
        width: 100%;
        @include padding-mobile;
      }
      .item-block{
        text-align: center;
        border-radius: 10px;
        width: 370px;
        min-height: 470px;
        position: relative;
        overflow: hidden;
        @include tablet{
          margin: 0 auto;
          width: auto;
          min-height: 540px;
        }
        @include small-phone{
          width: 100%;
          min-height: 600px;
        }
        a{
          width: 100%;
          //height: 100%;
          min-height: 470px;
          text-decoration: none;
          display: block;
          margin-top: 0;
          //opacity: 1;
          position: relative;
          //@include transition(opacity  .3s);
          @include tablet{
            min-height: 540px;
          }
          @include small-phone{
            min-height: 600px;
          }
          &:hover{
            //margin-top: -20px;
            .img{
              //margin-top: -20px;
              top: -20px;
              border-radius: 10px 10px 0 0;
              >img{
                opacity: 0.5;
              }
            }
            .icon-hover{
              display: inline-block;
              opacity: 1;
              img{
                //opacity: 1;
              }
            }
            .text-block{
              bottom: 20px;
            }
          }
        }
        .img{
          width: 100%;
          //position: relative;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 1;
          border-radius: 10px 10px 0 0;
          @include transition(top  .3s);
          >img{
            //border-radius: 10px 10px 0 0;
            opacity: 1;
            //@include transition(all  .1s);
            //height: 252px;
            @include tablet{
              width: 100%;
            }
          }
          .icon-hover{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            //display: none;
            opacity: 0;
            @include transition(opacity  .5s);
            top: 0;
            z-index: 100;
            left: 0;
            //background: rgba(0, 0, 0, 0) url("../images/tractor-white.svg") no-repeat scroll top center;
            img{
              display: inline-block;
              //margin-top: 30%;
              margin-top: 90px;
              vertical-align: middle;
              @include  small-phone{
                margin-top: 30%;
              }
            }
          }
        }
        .text-block{
          padding: 35px 40px 20px;
          //position: relative;
          position: absolute;
          bottom: 0;
          left: 0;
          @include transition(bottom  .3s);
          //pseudo elements
          //&:before{
          //  width: 0;
          //  height: 0;
          //  border-bottom: 20px solid red;
          //  border-right: 185px solid transparent;
          //  position: absolute;
          //  top: -20px;
          //  left: 0;
          //  content: '';
          //  opacity: 0.1;
          //}
          //&:after{
          //  width: 0;
          //  height: 0;
          //  border-bottom: 20px solid red;
          //  border-left: 185px solid transparent;
          //  position: absolute;
          //  top: -20px;
          //  right: 0;
          //  content: '';
          //  opacity: 0.1;
          //}
        }
        .title{
          color: $color-white-two;
          font-size: 3*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.07;
          text-align: center;
        }
        .desc{
          color: $color-white-two;
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
  .slick-dots{
    position: absolute;
    bottom: 34px;
    @include tablet {
      bottom: -30px;
    }
    li{
      width: 12px;
      height: 12px;
      margin: 0 13px;
      button{
        width: 12px;
        height: 12px;
        padding: 0;
        &:before{
          border-radius: 100%;
          background-color: $color-grey-dots;
          opacity: 1;
          content: '';
          width: 12px;
          height: 12px;
        }

      }
      &.slick-active,&:hover{
        button{
          &:before{
            background-color: $color-rouge-v2;
          }
        }
      }
    }
  }
}
.block-catalog{
  .title-block{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 600px;
    padding-top: 40px;
    @include small-phone{
      width: 100%;
      padding-top: 20px;
      @include padding-mobile;
    }
    h2{
      color: $color-sap-green;
      font-size: 4.2*$font-size;
      line-height: 0.62;
      font-weight: 300;
      @include small-phone{
        line-height: 1.05;
      }
    }
    .desc{
      padding-top: 30px;
      font-size: 2.2*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      text-align: center;
      @include small-phone{
        display: none;
      }
    }
    .pdf-link{
      color: $color-sap-green;
      text-decoration: none;
      font-size: 1.6*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      text-transform: uppercase;
      margin-top: 28px;
      text-align: center;
      display: inline-block;
      .icon-pdf{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  .row-block{
    margin: 0 -10px;
    padding-top: 10px;
    padding-bottom: 80px;
    @include tablet{
      margin: 0;
      @include padding-height;
      padding-bottom: 10px;
    }
    @include small-phone{
      margin: 0;
      padding-top: 30px;
    }

  }
  .content-block{
    margin: 0 0 10px;
    padding: 0 10px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    @include tablet {
      //margin: 0;
    }
    @include small-phone{
      width: 100%;
      @include padding-mobile;
    }
  }
  .item-block{
    text-align: center;
    position: relative;
    >a{
      opacity: 1;
      @include transition(opacity  .3s);
      &:hover{
        opacity: 0.5;

      }
    }
    .img{
      height: 480px;
      display: inline-block;
      position: relative;
      padding-top: 60px;
      @include small-phone{
        padding-top: 0;
        height: auto;
      }
      img{
        display: inline-block;
        text-align: center;
      }
      &.icon-category{
        &:before{
          position: absolute;
          right: -2%;
          bottom: 5%;
          background-color: $color-white-two;
          background-attachment: scroll;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          border: 5px solid $color-white-two;
          width: 52px;
          height: 52px;
          display: inline-block;
          content: '';
        }
        &.icon-plants{
          &:before {
            background-image: url('../images/plants.svg');
          }
        }
        &.icon-agro{
          &:before {
            background-image: url('../images/agro.svg');
          }
        }
        &.icon-soil{
          &:before {
            background-image: url('../images/soil.svg');
          }
        }
      }

      &.upper{
        padding-top: 40px;
        @include tablet{
          max-height: 480px;
          //padding-top: 0;
        }
        &:before {
          //padding-top: 40px;
          bottom: 50px;
          @include tablet{
            //bottom: 5%;
          }
        }
        .category-quality{
          //bottom: 50px;
        }
      }
      img{
        //vertical-align: bottom;
      }
    }
    .text-block{
      padding: 0 40px;
      //padding-top: 20px;
    }
    .title{
      a{
        color: $color-sap-light-green;
        font-size: 2.6*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        text-align: center;
        text-decoration: none;
      }
    }
    .desc{
      color: $color-black;
      font-size: 1.6*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      text-align: center;
      padding: 30px 10px;
    }
  }
  .slick-dots {
    @include tablet {
      bottom: -30px;
    }
    @include small-phone {
      //bottom: -35px;
    }
    li{
      button{
        &:before{
          background-color: $color-grey;
        }

      }
      &.slick-active,&:hover{
        button{
          &:before{
            background-color: $color-rouge-v1;
          }
        }
      }
    }
  }
}
.block-carusel{
  background-color: $color-grey;
  position: relative;
  overflow: hidden;
  &:before{
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 12px;
    display: block;
    position: absolute;
    content: '';
    top: -2px;
    transform: rotate(180deg);
    z-index: 200;
  }
  &:after{
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 13px;
    display: block;
    //position: relative;
    position: absolute;
    content: '';
    bottom: -4px;
  }
  &.main{
    &:after {
      display: none;
    }
  }
  .row-block{
    padding-top: 90px;
    padding-bottom: 90px;
    @include tablet{
      margin: 0;
      //@include padding-height;
      padding-top: 90px;
      //padding-bottom: 50px;
    }
    @include small-phone{
      margin: 0;
      padding-top: 30px;
      padding-bottom: 43px;
    }
  }
  .block-visual{
    //overflow-x: hidden;
    margin: 0 auto;
    max-width: 900px;
    padding-top: 40px;
    @include tablet {
      max-width: 1170px;
      //overflow-x: hidden;
    }
    .slick-list {
      //max-width: 900px;
      max-width: 920px;
      margin: 0 auto;
      overflow: visible !important;
      @include tablet{
        overflow-x: hidden!important;
        padding: 0 20px!important;
      }
      @include small-phone{
        padding: 0 20px 1px!important;
      }
    }
    .slick-slide{
      opacity: 0.3;
      &.slick-center{
        opacity: 1;
        //.item-block{
        //  //width: 120%;
        //  padding: 0;
        //  margin-left: 0;
        //  .img-block{
        //    width: 260px;
        //    height: 260px;
        //    float: left;
        //    text-align: center;
        //    img{
        //      border-radius: 50%;
        //      background-color: $color-white-two;
        //      display: inline-block;
        //      width: 260px;
        //      height: 260px;
        //    }
        //  }
        //  .text-block{
        //    display: inline-block;
        //    vertical-align: middle;
        //    width: 55%;
        //    float: left;
        //    padding:0 0 0 30px;
        //    .title{
        //      font-size: 3*$font-size;
        //      font-weight: 300;
        //      font-style: normal;
        //      font-stretch: normal;
        //      line-height: 1.07;
        //      color: $color-sepia;
        //    }
        //    .desc{
        //      padding-top: 20px;
        //      font-size: 1.6*$font-size;
        //      font-weight: 300;
        //      font-style: normal;
        //      font-stretch: normal;
        //      line-height: 1.63;
        //      color: $color-black;
        //
        //    }
        //    .name-autor{
        //      padding-top: 25px;
        //      font-size: 1.6*$font-size;
        //      font-weight: normal;
        //      font-style: normal;
        //      font-stretch: normal;
        //      line-height: 1.63;
        //      color: $color-sepia;
        //    }
        //    .spec-autor{
        //      font-size: 1.4*$font-size;
        //      font-weight: 300;
        //      font-style: normal;
        //      font-stretch: normal;
        //      line-height: 1.86;
        //      color: $color-black;
        //    }
        //  }
        //}
      }
    }
    .slick-arrow{
      z-index: 800;
      height: 40px;
      &.slick-prev{
        left: 30px;
        @include tablet{
          left: 1%;
        }
        &:before{
          background-image: url('../images/slider/arrow-left.svg');
          background-attachment: scroll;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 22px;
          height: 40px;
          content: '';
          display: block;
        }
        &:hover{
          &:before {
            background-image: url('../images/slider/arrow-left-active.svg');
          }
        }

      }
      &.slick-next{
        right: 30px;
        @include tablet{
          right: 1%;
        }
        &:before{
          background-image: url('../images/slider/arrow-right.svg');
          background-attachment: scroll;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 22px;
          height: 40px;
          content: '';
          display: block;
        }
        &:hover{
          &:before {
            background-image: url('../images/slider/arrow-right-active.svg');
          }
        }
      }
    }
    .slick-dots {
      @include tablet {
        bottom: -50px;
      }
      @include small-phone {
        bottom: -30px;
      }
      li{
        button{
          &:before{
            //background-color: $color-grey;
          }

        }
        &.slick-active,&:hover{
          button{
            &:before{
              background-color: $color-rouge-v1;
            }
          }
        }
      }
    }
  }
  .title-block{
    text-align: center;
    h2{
      font-size: 42px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.62;
      text-align: center;
      color: $color-sap-green;
      @include small-phone {
        line-height: 1.05;
      }
    }
    .link-logo{
      padding-top: 20px;
    }
  }
  .item-block{
    @include clearfix;
    display: block;
    //padding: 0 20px;
    margin: 0 auto;
    max-width: 670px;
    //margin-left: 20px;
    @include tablet{
      padding: 20px 10px;
      max-width: 740px;
    }
    @include small-phone{
      padding: 0 15px;
      text-align: center;
    }
    .img-block {
      //width: 40%;
      width: 260px;
      //height: 260px;
      //width: 49%;
      height: auto;
      float: left;
      text-align: center;
      //margin: 0 10px;
      @include tablet {
        width: 40%;
        min-width: 250px;
      }
      @include small-phone{
        width: 100%;
      }
      .img{
        width: 260px;
        height: 260px;
        display: inline-block;
        background-color: $color-white-two;
        border-radius: 50%;
      }
      img{
        border-radius: 50%;
        background-color: $color-white-two;
        display: inline-block;
        height: 260px;
        width: 100%;
        @include tablet {
          max-width: 100%;
        }
      }
    }
    .text-block{
      display: inline-block;
      vertical-align: middle;
      max-width: 410px;
      float: left;
      padding-left: 30px;
      @include small-phone{
        width: 100%;
        text-align: center;
        float: none;
        padding-left: 0;
      }
      .title{
        font-size: 3*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        color: $color-sepia;
      }
      .desc{
        padding-top: 20px;
        font-size: 1.6*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-black;

      }
      .name-autor{
        padding-top: 25px;
        font-size: 1.6*$font-size;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.63;
        color: $color-sepia;
      }
      .spec-autor{
        font-size: 1.4*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        color: $color-black;
      }
    }
  }
}
.block-slider{
  .slick-list{
    padding: 0!important;
  }
  .slick-dotted{
    &.slick-slider{
      margin-bottom: 0;
  }
  }
  .slide{
    position: relative;
    overflow-x: hidden;
    img{
      min-height: 390px;
      min-width: 1198px;
    }
    &.slick-slide{

    }
  }
  .text-holder{
    position: absolute;
    top: 34%;
    width: 100%;
    //height: 100%;
    text-align: center;
    @include small-phone{
      top: 16%;
    }
    .container{
      //width: 100%;
      //height: 100%;
    }
    .info{
      //width: 100%;
      //height: 100%;
      vertical-align: middle;
      display: inline-block;
      //margin-top: 200px;
      @include small-phone{
        width: 100%;
        height: 100%;
      }
      .title-block{
        font-size: 4.2*$font-size;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.62;
        text-align: center;
        font-weight: 400;
        color: $color-white-two;
        @include small-phone{
          line-height: 1.24;
        }
      }
      .desc{
        font-size: 3*$font-size;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        text-align: center;
        color: $color-white-two;
        padding-top: 20px;
        @include small-phone{
          display: none;
        }
      }
      .btn-play{
        margin-top: 23px;
      }
    }
  }
  .slick-dots{
    position: absolute;
    bottom: 34px;
    //@include tablet {
    //  bottom: -50px;
    //}
    @include small-phone{
      bottom: 16px;
    }
    li{
      width: 12px;
      height: 12px;
      margin: 0 13px;
      button{
        width: 12px;
        height: 12px;
        padding: 0;
        &:before{
          border-radius: 100%;
          background-color: $color-white-two;
          opacity: 1;
          content: '';
          width: 12px;
          height: 12px;
        }

      }
      &.slick-active,&:hover{
        button{
          &:before{
            background-color: $color-rouge-v2;
          }
        }
      }
    }
  }
}
.block-partner{
  padding: 28px 0 28px;
  @include tablet{
    padding-top: 38px;
  }
  @include small-phone{
    padding: 25px 20px 5px;
  }
  .title-block{
    display: inline-block;
    vertical-align: middle;
    @include tablet{
      display: inline;
      text-align: center;
    }

    @include small-phone{
      text-align: center;
      width: 100%;
    }
  }
  h3{
    color: $color-sepia;
    font-size: 3*$font-size;
    font-family: $font-light;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.87;
  }
  .partner-logos{
    display: inline-block;
    vertical-align: middle;
    @include tablet{
      display: inherit;
      text-align: center;
      padding-top: 30px;
    }
    @include small-phone{
      text-align: center;
      padding-top: 15px;
      margin: 0 -15px;
    }
    li{
      display: inline-block;
      padding: 0 23px;
      @include tablet{
        padding: 0 15px;
        width: 15%;
        &:last-of-type{
          padding-right: 15px;
        }
      }
      @include small-phone{
        width: 23%;
        padding: 10px 5px;
        &:nth-last-of-type(1){
          width: 35%;
        }
        &:nth-last-of-type(2){
          width: 35%;
        }
      }
      &:last-of-type{
        padding-right: 0;
      }
      a{
        display: inline-block;
        opacity: 1;
        @include transition(opacity  .3s);
        &:hover{
          opacity: 0.5;
        }
        img{
          vertical-align: middle;
          width: 100%;
        }
      }
    }
  }
}
