.block-products{
  .left-sidebar{
    display: inline-block;
    float: left;
    width: 284px;
    z-index: 200;
    margin-top: -10px;
    position: relative;
    @include tablet{
      margin-top: 0;
      float: none;
      width: 100%;
      padding-top: 20px;
      @include padding-tablet;
    }
    @include small-phone{
      margin-top: 0;
      float: none;
      width: 100%;
      @include padding-mobile;
    }
    .menu-block{
      border-radius: 5px;
      background-color: $color-light-grey-v2;
      margin-bottom: 30px;
      .catalog-menu{
        .title-block{
          border-radius: 5px 5px 0 0 ;
          background-color: $color-rouge-v1;
          //height: 51px;
          vertical-align: middle;
          padding: 15px 20px;
          pointer-events: none;
          cursor: default;
          position: relative;
          @include tablet{
            pointer-events: auto;
            cursor: pointer;
            border-radius: 5px;
          }
          .selected{
            display: none;
            background-image: url("../images/plus-white.svg");
            background-position: center;
            vertical-align: middle;
            background-repeat: no-repeat;
            width: 23px;
            height: 23px;
            //display: inline-block;
            position: absolute;
            right: 20px;
            @include tablet{
              display: inline-block;
            }
          }
          .title{
            font-size: 1.8*$font-size;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            color: $color-white-two;
            text-align: left;
            text-transform: uppercase
          }

        }
        i{
          vertical-align: middle;
          background-repeat: no-repeat;
          width: 23px;
          height: 23px;
          display: inline-block;
          margin-right: 10px;
        }
        .icon-plants{
          background-image: url("../images/plants.svg");
        }
        .icon-soil{
          background-image: url("../images/soil.svg");
        }
        .icon-agro{
          background-image: url("../images/agro.svg");
        }
        .catalog-menu-block{
          display: block;
          @include tablet{
            display: none;
            &[data-display="none"]{
              display: none;
            }
            &[data-display="block"]{
              display: block;

            }
          }
          .title-menu{
            cursor: pointer;
            padding: 10px 25px;
            position: relative;
            .selected{
              background-image: url("../images/plus-grey.svg");
              @include tablet{
                background-image: url("../images/plus-green.svg");
              }
              background-position: center;
              vertical-align: middle;
              background-repeat: no-repeat;
              width: 23px;
              height: 23px;
              display: inline-block;
              //margin-right: 10px;
              position: absolute;
              right: 20px;
            }
          }
          >li{
            &.show{
              background-color: $color-light-grey;
              .selected{
                background-image: url("../images/minus-grey.svg");
                @include tablet{
                  background-image: url("../images/minus-green.svg");
                }
              }
            }
            >a{
              text-decoration: none;
              font-size: 1.6*$font-size;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.63;
              color: $color-black;
            }
          }
        }
        .sub-menu{
          padding: 10px;
          display: none;
          &[data-display="none"]{
            display: none;
          }
          &[data-display="block"]{
            display: block;
            padding-left: 57px;
            padding-bottom: 18px;
          }
          li{
            @include tablet {
              display: inline-block;
              width: 30%;
              vertical-align: top;
            }
            @include small-phone{
              width: 100%;
            }
            a{
              font-size: 1.5*$font-size;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.73;
              color: $color-black;
              text-decoration: none;
              &:hover{
                @include tablet{}
                color: $color-sepia;
              }
            }
          }
        }
        &.show{
          .title-block{
            border-radius: 5px 5px 0 0 ;
          }
          .selected{
            background-image: url("../images/minus-white.svg");
          }
          .catalog-menu-block{
            display: block;
          }
        }
      }

    }
    .special-recomend{
      .title-block{
        border-radius: 5px 5px 0 0 ;
        background-color: $color-sap-green;
        vertical-align: middle;
        padding: 10px 20px;
        i{
          vertical-align: middle;
          background-repeat: no-repeat;
          width: 34px;
          height: 45px;
          display: inline-block;
          margin-right: 15px;
        }
        .icon-apple{
          background-image: url("../images/apple-white.svg");
        }

        .title{
          font-size: 1.8*$font-size;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.22;
          color: $color-white-two;
          text-align: left;
          display: inline-block;
          text-transform: uppercase;
          vertical-align: middle;
          width: 50%;
        }
      }
      .img-block{
        position: relative;
        .text-block{
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          top: 0;
          padding-top: 30px;
          left: 0;
          //background-color: rgba( $color-white-two, 0.5);
          .title{
            font-size: 2.6*$font-size;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            text-align: center;
            color: $color-white-two;
          }
        }
        .img{
          img{
            @include tablet{
              width: 100%;
            }
            @include small-phone{
              width: 100%;
            }
          }
        }

      }
    }
  }
  .block-products-catalog{
    display: inline-block;
    //width: 75%;
    max-width: 860px;
    padding-left: 60px;
    padding-bottom: 75px;
    @include tablet{
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      //text-align: center;
    }
    @include small-phone{
      width: 100%;
      padding-left: 0;
      text-align: center;
    }
    //.block-category-button{
    //  padding-top: 50px;
    //  @include tablet{
    //    width: 100%;
    //    @include padding-tablet;
    //  }
    //  //text-align: center;
    //  .list-button{
    //    li{
    //      display: inline-block;
    //      padding-right: 10px;
    //      padding-bottom: 10px;
    //      @include small-phone{
    //        width: 100%;
    //        padding-right: 0;
    //        padding-bottom: 10px;
    //      }
    //      &:last-of-type{
    //        padding-right: 0;
    //      }
    //      .btn{
    //        width: auto;
    //        min-width: 170px;
    //        height: 36px;
    //        padding: 8px 30px;
    //        line-height: 1.2;
    //        border-radius: 100px;
    //        display: inline-block;
    //        font-size: 1.6*$font-size;
    //        font-weight: 300;
    //        font-style: normal;
    //        font-stretch: normal;
    //        text-align: center;
    //        color: $color-black;
    //        background-color: $color-very-light-brown;
    //        cursor: pointer;
    //        &.active,&:hover{
    //          color: $color-white-two ;
    //          background-color: $color-sap-green;
    //        }
    //      }
    //    }
    //  }
    //}
    .row-block{
      @include clearfix;
      margin: 0 -20px;
      padding-top: 50px;
      padding-bottom: 20px;
      @include tablet{
        margin: 0;
        width: 100%;
        @include padding-tablet;
      }
      @include small-phone{
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .content-block{
        width: 33%;
        display: inline-block;
        vertical-align: top;
        @include tablet{
          float: left;
        }
        @include small-phone{
          width: 100%;
        }

        .item-block{
          text-align: center;
          position: relative;
          padding: 20px;
          @include small-phone{
            @include padding-mobile;
          }
          .img{
            //width: 160px;
            position: relative;
            text-align: center;
            display: inline-block;
            img{
              //vertical-align: bottom;
              max-width: 156px;
            }
            .icon-category{
              position: absolute;
              bottom: 0;
              right: 0;
              vertical-align: middle;
              background-image: url("../images/icon-agro-prob.svg");
              background-attachment: scroll;
              background-size: contain;
              background-repeat: no-repeat;
              width: 40px;
              height: 40px;
              display: inline-block;
             }
            a{
              @include transition(opacity  .5s);
              opacity: 1;
              &:hover{
                opacity: 0.5;
              }
            }
          }
          .text-block{
            //padding: 0 40px;
          }
          .title{
            padding-top: 10px;
            font-size: 2*$font-size;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.3;
            text-align: center;
            color: $color-black;
            a{
              padding-top: 10px;
              font-size: 2*$font-size;
              font-weight: 300;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.3;
              text-align: center;
              color: $color-black;
              text-decoration: none;
            }
          }
          .desc{
            padding-top: 10px;
            display: inline-block;
            .icon-bag{
              vertical-align: middle;
              background-image: url("../images/t-a-r-a.svg");
              background-repeat: no-repeat;
              width: 14px;
              height: 20px;
              display: inline-block;
              margin-right: 5px;
            }
            .count-size{
              font-size: 1.5*$font-size;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.73;
              color: $color-sepia;
              text-align: center;
              vertical-align: middle;
              display: inline-block;
              padding-top: 3px;
            }
          }
        }
      }

    }
    .list-pagination{
      @include tablet{
        @include padding-tablet;
        text-align: center;
      }
      @include small-phone{
        @include padding-mobile;
      }
      ul{
        @include small-phone{
          text-align: center;
        }
        li{
          display: inline-block;
          padding: 0 5px;
          @include small-phone{
            text-align: center;
            padding: 5px;
          }
          a{
            display: inline-block;
            color: $color-black;
            border-radius: 100px;
            //background-color: $color-very-light-brown;
            border: 1px solid $color-very-light-brown;
            padding: 5px 15px;
            text-decoration: none;
            text-align: center;
            font-size: 1.5*$font-size;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            min-width: 45px;
             &.first-page{
               min-width: 60px;
            }
            &:hover,&.active{
              color: $color-white-two;
              background-color: $color-sap-green;
              border: 1px solid $color-sap-green;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}