.block-slider-header{
  &.user-line-d{
    .slide{
      &:before{
        background-color: rgba($color-dark-green, 0.5);
      }
    }
  }
  &.industrial-line-d{
    .slide{
      &:before{
        background-color: rgba($color-rouge-dark, 0.5);
      }
    }
  }
  &.product-line-prof{
    .slide{
      &:before{
        background-color: rgba($color-sepia, 0.5);
      }
    }
  }
  .block-visual{
  }
  .slick-list{
    padding: 0!important;
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
  .slide{
    position: relative;
    &.slick-slide{
      img{
        min-height: 390px;
        min-width: 1198px;
      }
    }
    &:before{
      background-color: rgba($color-dark-green, 0.5);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      content: '';
      top: 0;
      z-index: 10;
    }
  }
  .text-holder{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    .info{
      margin-top: 180px;
      @include small-phone{
        margin-top: 20px;
      }
      .title-block{
        font-size: 6*$font-size;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.43;
        letter-spacing: -0.5px;
        text-align: center;
        font-weight: 400;
        color: $color-white-two;
        text-shadow: 1px 1px 3px rgba(55, 55, 55, 0.61);
        @include small-phone{
          line-height: 1.17;
        }
      }
    }
  }
  .slick-dots{
    position: absolute;
    bottom: 34px;
    li{
      button{
        &:before{
          border-radius: 100%;
          background-color: $color-white-two;
          opacity: 1;
          content: '';
          width: 11px;
          height: 11px;
        }

      }
      &.slick-active{
        button{
          &:before{
            background-color: $color-rouge-v1;
          }
        }
      }
    }
  }
}
.block-description{
  //position: relative;
  &:before{
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 11px;
    display: block;
    position: relative;
    content: '';
    top: -9px;
  }
  .title-block{
    padding-top: 35px;
    text-align: center;
    @include small-phone{
      padding: 30px 20px 0;
    }
    &.user-line-d{
      h2{
        &:before{
          //vertical-align: middle;
          background-repeat: no-repeat;
          width: 45px;
          height: 56px;
          display: inline-block;
          margin-right: 15px;
          background-image: url("../images/home-icon.svg");
          content: '';
          position: relative;
        }
      }

    }
    &.industrial-line-d{
      h2{
        color: $color-rouge;
        &:before{
          background-repeat: no-repeat;
          width: 54px;
          height: 52px;
          display: inline-block;
          margin-right: 15px;
          background-image: url("../images/industrial.svg");
          content: '';
          position: relative;
        }
      }

    }
    &.product-line-prof{
      h2{
        color: $color-sepia;
        &:before{
          background-repeat: no-repeat;
          width: 54px;
          height: 43px;
          display: inline-block;
          margin-right: 15px;
          background-image: url("../images/tractor.svg");
          content: '';
          position: relative;
        }
      }

    }
    h2{
      vertical-align: middle;
      color: $color-sap-green;
      font-size: 5*$font-size;
      line-height: 0.52;
      font-weight: 300;
      text-align: center;
      font-style: normal;
      font-stretch: normal;
      @include small-phone{
        line-height: 1.17;
        font-size: 4*$font-size;
      }
    }
  }
  .row-block{
    //margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-block{
      padding: 0 25px;
      width: 49%;
      display: inline-block;
      vertical-align: top;
      @include small-phone{
        padding: 0 20px 10px;
        width: 100%;
      }
      .item-block{
        //min-height: 360px;
        //padding: 10px 20px 20px;
        text-align: left;
        position: relative;
        .text-block{
          //padding: 20px;
        }
        .title{
          font-size: 3*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.07;
          color: $color-black;
        }
        .desc{
          color: $color-black;
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          padding-top: 20px;
          .icon-svg{
            display: inline-block;
            vertical-align: middle;
          }
          .text{
            display: inline-block;
            vertical-align: middle;
            width: 70%;
            font-size: 1.6*$font-size;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.63;
            color: $color-black;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
.block-probiotik{
  background-color: $color-grey;
  position: relative;
  &:before{
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 12px;
    display: block;
    position: absolute;
    content: '';
    top: -2px;
    transform: rotate(180deg);
    z-index: 200;
  }
  //&:after{
  //  background-image: url('../images/line.svg');
  //  background-attachment: scroll;
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  width: 100%;
  //  height: 11px;
  //  display: block;
  //  //position: relative;
  //  position: absolute;
  //  content: '';
  //  bottom: -4px;
  //}
  &:after{
    background-image: url('../images/line.svg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 13px;
    display: block;
    //position: relative;
    position: absolute;
    content: '';
    bottom: -4px;
  }
  .title-block{
    padding-top: 78px;
    @include small-phone{
      padding: 30px 20px 0;
    }
    h2{
      color: $color-sap-green;
      font-size: 4.2*$font-size;
      line-height: 0.62;
      font-weight: 300;
      text-align: center;
      @include small-phone{
        line-height: 1.17;
      }
    }
    .desc{
      padding-top: 30px;
      font-size: 2.2*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      text-align: center;
    }
  }
  .row-block{
    margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
    @include small-phone{
      margin: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .content-block{
      margin: 0 0 26px;
      padding: 0 10px;
      width: 24%;
      display: inline-block;
      vertical-align: top;
      @include small-phone{
        padding: 0 20px;
        width: 100%;
      }
      .item-block{
        //min-height: 360px;
        padding: 10px;
        text-align: center;
        width: 275px;
        height: 260px;
        border-radius: 5px;
        position: relative;
        background-color: $color-white-two;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        @include small-phone{
          width: 100%;
          //height: auto;
        }
        .icon-svg{
          display: inline-block;
          height: 60px;
          vertical-align: middle;
          line-height: 60px;
          img{
            vertical-align: middle;
          }
        }
        .title{
          padding-top: 10px;
          color: $color-sepia;
          font-size: 2*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          text-align: center;
        }
        .desc{
          padding-top: 10px;
          color: $color-black;
          font-size: 1.5*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.73;
          text-align: center;
          //padding: 10px;
        }
      }
    }
  }
}
.block-information{
  background-color: $color-white-two;
  .title-block{
    padding-top: 78px;
    text-align: center;
    @include small-phone{
      padding: 30px 20px 0;
    }
    h2{
      color: $color-sap-green;
      font-size: 4.2*$font-size;
      line-height: 0.62;
      font-weight: 300;
      text-align: center;
      font-style: normal;
      font-stretch: normal;
      @include small-phone{
        line-height: 1.17;
      }
    }
  }
  .row-block{
    margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
    @include small-phone{
      margin: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .content-block{
      //margin: 0 0 26px;
      padding: 0 10px;
      width: 33%;
      display: inline-block;
      vertical-align: top;
      @include small-phone{
        padding: 0 20px;
        width: 100%;
      }
      .item-block{
        //min-height: 360px;
        //padding: 10px 20px 20px;
        text-align: left;
        position: relative;
        @include small-phone{
           text-align: center;
        }
        .text-block{
          padding: 20px;
        }
        .title{
          color: $color-black;
          font-size: 2.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
        }
        .desc{
          color: $color-black;
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          padding-top: 20px;
          ul{
            padding-left: 20px;
            list-style: disc ;
            li
            li{

            }
          }
        }
      }
    }
  }
}
.block-productions{
  //background-color: $color-white-two;
  .title-block{
    padding-top: 78px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    @include small-phone{
      padding: 30px 20px 0;
      width: 100%;
    }
    h2{
      line-height: 0.62;
      text-align: center;
      @include small-phone{
        line-height: 1.17;
      }
    }
    .desc{
      padding-top: 50px;
      font-size: 2.2*$font-size;
      font-weight: 300;
      line-height: 1.18;
    }
    .btn{
      width: 255px;
      margin-top: 50px;
    }
    .title{
      padding-top: 50px;
      color: $color-sepia;
      font-size: 3*$font-size;
      line-height: 1.07;
      font-weight: 300;
    }
  }
  .row-block{
    @include clearfix;
    margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 790px;
    margin: 0 auto;
    @include small-phone{
      padding: 30px 0 30px;
      width: 100%;
      margin: 0;
    }
    .content-block{
      padding: 0 10px;
      width: 25%;
      float: left;
      display: inline-block;
      vertical-align: top;
      @include small-phone{
        padding: 0 20px 0;
        width: 100%;
      }
      .item-block{
        text-align: center;
         //padding: 0 30px;
        .text-block{
          //padding: 20px;
        }
        .icon-svg{
          display: inline-block;
          height: 120px;
          line-height: 120px;
          img{
            vertical-align: middle;
          }
        }
        .title{
          color: $color-black;
          font-size: 2.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
        }
        .desc{
          color: $color-black;
          font-size: 1.8*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
           padding-top: 20px;
          line-height: 1.44;
        }
      }
    }
  }
}