.block-slider-header{
  .block-visual{

  }
  .slick-list{
    padding: 0!important;

  }
  .slide{
    position: relative;
    &:after{
      background-image: url("../images/line.svg");
      background-attachment: scroll;
      background-size: contain;
      min-width: 1920px;
      width: 100%;
      height: 11px;
      display: inline-block;
      position: absolute;
      content: '';
      bottom: -4px;
    }
  }
  .text-holder{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .info{
      margin-top: 200px;
      .title-block{
        font-size: 6*$font-size;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.43;
        letter-spacing: -0.5px;
        text-align: center;
        font-weight: 400;
        color: $color-white-two;
        text-shadow: 1px 1px 3px rgba(55, 55, 55, 0.61);
      }
    }
  }
  .slick-dots{
    position: absolute;
    bottom: 34px;
    li{
      button{
        &:before{
          border-radius: 100%;
          background-color: $color-white-two;
          opacity: 1;
          content: '';
          width: 11px;
          height: 11px;
        }

      }
      &.slick-active{
        button{
          &:before{
            background-color: $color-rouge-v1;
          }
        }
      }
    }
  }
}
.block-description{
  //background-color: $color-white-two;
  .title-block{
    padding-top: 78px;
    text-align: center;
    h2{
      color: $color-sap-green;
      font-size: 4.2*$font-size;
      line-height: 0.62;
      font-weight: 300;
      text-align: center;
      font-style: normal;
      font-stretch: normal;
    }
  }
  .row-block{
    //margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-block{
      //margin: 0 0 26px;
      padding: 0 25px;
      width: 49%;
      display: inline-block;
      vertical-align: top;
      .item-block{
        //min-height: 360px;
        //padding: 10px 20px 20px;
        text-align: left;
        position: relative;
        .text-block{
          padding: 20px;
        }
        .title{
          color: $color-black;
          font-size: 2.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
        }
        .desc{
          color: $color-black;
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          padding-top: 20px;
          ul{
            padding-left: 20px;
            list-style: disc ;
            li
            li{

            }
          }
        }
      }
    }
  }
}
.block-probiotik{
  background-color: $color-grey;
  position: relative;
  overflow: hidden;
  &:before{
    background-image: url("../images/line.svg");
    background-attachment: scroll;
    transform: rotate(180deg);
    width: 100%;
    height: 11px;
    display: block;
    position: absolute;
    content: '';
    top: -3px;
  }
  &:after{
    background-image: url("../images/line.svg");
    background-attachment: scroll;
    background-size: contain;
    min-width: 1920px;
    width: 100%;
    height: 11px;
    display: inline-block;
    position: absolute;
    content: '';
    bottom: -4px;
    //background-position: center;
    //background-repeat: repeat-x;

  }
  .title-block{
    //text-align: center;
    //display: block;
    //margin: 0 auto;
    //width: 600px;
    padding-top: 78px;
    h2{
      color: $color-sap-green;
      font-size: 4.2*$font-size;
      line-height: 0.62;
      font-weight: 300;
      text-align: center;
    }
    .desc{
      padding-top: 30px;
      font-size: 2.2*$font-size;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      text-align: center;
    }
  }
  .row-block{
    margin: 0 -10px ;
    padding-top: 50px;
    .content-block{
      margin: 0 0 26px;
      padding: 0 11px;
      width: 24%;
      display: inline-block;
      vertical-align: top;
      .item-block{
        //min-height: 360px;
        //padding: 10px 20px 20px;
        text-align: center;
        width: 275px;
        height: 260px;
        border-radius: 5px;
        position: relative;
        background-color: $color-white-two;
        .img{
          width: 100%;
          img{
            border-radius: 10px;
          }
        }
        .text-block{
          padding: 20px 40px;
        }
        .title{
          color: $color-sepia;
          font-size: 2*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          text-align: center;
        }
        .desc{
          color: $color-black;
          font-size: 1.5*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.73;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
}
.block-information{
  background-color: $color-white-two;
  .title-block{
    padding-top: 78px;
    text-align: center;
    h2{
      color: $color-sap-green;
      font-size: 4.2*$font-size;
      line-height: 0.62;
      font-weight: 300;
      text-align: center;
      font-style: normal;
      font-stretch: normal;
    }
  }
  .row-block{
    margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-block{
      //margin: 0 0 26px;
      padding: 0 10px;
      width: 33%;
      display: inline-block;
      vertical-align: top;
      .item-block{
        //min-height: 360px;
        //padding: 10px 20px 20px;
        text-align: left;
        position: relative;
        .text-block{
          padding: 20px;
        }
        .title{
          color: $color-black;
          font-size: 2.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
        }
        .desc{
          color: $color-black;
          font-size: 1.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.63;
          padding-top: 20px;
          ul{
            padding-left: 20px;
            list-style: disc ;
            li
            li{

            }
          }
        }
      }
    }
  }
}
.block-productions{
  background-color: $color-white-two;
  .title-block{
    padding-top: 78px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    h2{
      line-height: 0.62;
      text-align: center;
    }
    .desc{
      padding-top: 50px;
      font-size: 2.2*$font-size;
      font-weight: 300;
      line-height: 1.18;
    }
    .btn{
      width: 255px;
      margin-top: 50px;
    }
    .title{
      padding-top: 50px;
      color: $color-sepia;
      font-size: 3*$font-size;
      line-height: 1.07;
      font-weight: 300;
    }
  }
  .row-block{
    margin: 0 -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-block{
      //margin: 0 0 26px;
      padding: 0 10px;
      width: 24%;
      display: inline-block;
      vertical-align: top;
      .item-block{
        text-align: center;
         padding: 0 30px;
        .text-block{
          padding: 20px;
        }
        .title{
          color: $color-black;
          font-size: 2.6*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
        }
        .desc{
          color: $color-black;
          font-size: 1.8*$font-size;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
           padding-top: 20px;
          line-height: 1.44;
        }
      }
    }
  }
}